POSTGRES_USER=firefly
POSTGRES_PASSWORD=change-me
POSTGRES_DB=firefly_signal
RABBITMQ_DEFAULT_USER=firefly
RABBITMQ_DEFAULT_PASS=change-me
JWT_SIGNING_KEY=change-me-long-random-string
CORS_ALLOWED_ORIGIN=change-me-origin
DOCKERHUB_NAMESPACE=firefly26710
IMAGE_TAG=main
